body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

.graph {
    margin: 20px 0;
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

.drawer {
    width: 300px;
    padding: 10px;
    border-right: 1px solid #ccc;
    overflow-y: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #f9f9f9;
    transition: transform 0.3s ease;
}

.drawer.collapsed {
    transform: translateX(-100%);
}

#toggle-drawer {
    position: absolute;
    top: 10px;
    right: -50px;
    transform: rotate(-90deg);
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.file-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.file-item input[type="text"] {
    margin-left: 10px;
    flex: 1;
}

.file-item button {
    margin-left: 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}



/* Billionares shit */

.billionaire-card {
    background: #fff;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .rank {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    color: #555;
  }
  
  .billionaire-card img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .billionaire-info {
    flex: 1;
  }
  
  .billionaire-info h2 {
    margin: 0;
    font-size: 16px;
    color: #333;
  }
  
  .billionaire-info p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
  }
  
  .details-toggle {
    background: none;
    border: none;
    cursor: pointer;
    color: #007bff;
    font-size: 18px;
  }
  
  .details {
    display: none;
    padding: 10px;
    background: #f9f9f9;
    border-top: 1px solid #ddd;
    font-size: 14px;
    color: #555;
  }

  /* Default font size for medium or larger screens */
.countdown-unit span {
    font-size: 3rem;
  }
  
  /* Adjust font size for small screens */
  @media (max-width: 768px) {
    .countdown-unit span {
      font-size: 2rem;
    }
  }

  .earnings {
    font-family: monospace;
    color: red
  }


  